.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*
body {
  margin:0;
  padding: 0;
}
*/
.inputs {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #729cdb;
  box-shadow: 2px 2px 5px black;
}

.inputs input {
  width : 200px;
  height : 50px;
  font-size: 18px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 8px;
}

.inputs button {
  border: none;
  width: 100px;
  height: 40px;
  background-color: rgb(57, 50, 163);
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

.inputs button:hover {
  cursor: pointer;
}

.listOfFriends {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 20px;
}

.friendContainer {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.friend {
  width: 400px;
  height: 60px;
  background-color: #325ea1;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  margin: 10px;
}

.friend h3, h4 {
  margin-left: 15px;
}

.friendContainer  button {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  background-color: #325ea1;
  color: white;
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
}
